<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.not_at_home">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- For Contacts Plug In -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>  
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>  
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- For Image Picker -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
